@import "./theme.css";
@import "./reset.css";
@import "./base.css";
@import "./links.css";
@import "./layout.css";
@import "./retro.css";
@import "./blink.css";

/* Estilos para el blog */
.container {
  max-width: 800px;
  margin: 0 auto;
}

.prose {
  color: white;
}

/* Asegurarse que los links sean visibles */
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
